.searchSection{
    /* background: linear-gradient(to right, rgba(235, 234, 234, 0.7), rgba(106, 154, 176, 0.5)); */
    /* position: sticky; */
    top: 0;
    padding: 7px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFEE58;
}

.searchSection input{
    border: 1px solid #FFEE58;
    border-radius: 3px;
    padding: 8px .8em;
    width: 20%;
    outline: none;
    margin-right: 2px;
}

input:active{
    border-color: lightgrey;
}


.searchSectionButton {
  background-color: #fae741;
  border-radius: 3px;
  border: 1px solid #FFEE58;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.searchSectionButton:hover,
.searchSectionButton:focus {
  background-color: black;
  color: #FFEE58;
}

input:hover,
input:focus,
input:active  {
  border: 1px solid black;
  color: white;
}

.searchSectionButton:focus {
  box-shadow: 0 0 0 2px #ffee52;
}

.searchSectionButton:active {
  background-color: #FFEE58;
  box-shadow: none;
  color: #2c5777;
}